.Rproj.user
.Rhistory
.RData
.Ruserdata
.httr-oauth
tokenfile.RDS
processed_data/raw_small.csv
processed_data/chamber_temp_1min.csv
figures
tokenfile.RDS.base64
.Rapp.history
processed_data/processed_GENX_LGR_data.csv
